<p>user : <%= @post.user.email%></p>
<p>title : <%= @post.title %></p>
<p>content : <%= @post.content%></p>
<p>
  <% if current_user.is_like? (@post) %>
  <form action='/post/<%= @post.id%>/like' method='post'>
    <button>좋아요 취소</button>
  </form>
  
    <% else %>
  <form action='/post/<%= @post.id%>/like' method='post'>
    <button>좋아요</button>
  </form>
  <% end %>
  
  <%= @post.likes.size %>명이 좋아합니다.
</p>
  
<% if @post.user_id == current_user.id %>
  <div>
    <a href="/posts/edit/<%= @post.id %>">[edit]</a>
    <a href="/posts/destroy/<%= @post.id %>" data-method="delete" data-confirm="delete?">[delete]</a>
  </div>
<% end %>
<hr>
<div>
  <h2>comment</h2>
  <form action="/comments/create" method="post">
    <input type="hidden" name="comment_user_id" value="<%= current_user.id %>">
    <input type="hidden" name="comment_post_id" value="<%= @post.id %>">
    <input type="text" name="comment_content">
    <input type="submit" value="comment">

  </form>
  <% @post.comment.each do |c| %>
    <p>
      <%= c.user.email %> : <%= c.content %>
    </p>
    <% if current_user.id == c.user_id %>
        <a href="/comments/destroy/<%= c.id %>" data-method="delete" data-confirm="delete?">[delete]</a>
    <% end %>


  <% end %>
</div>
